{% extends 'baseRegiter.html' %}


{% block content %}
<section class="h-auto">
    <div class="max-w-xs mx-auto mt-10">
        {% include 'components/Text_title.html' with title_text="Crear una cuenta" %}
        <div class="bg-blanco mt-6 py-4 px-4  rounded-lg border-2 border-verder_claro  font-Courier_New shadow shadow-verder_claro">
            <form action="" method="post">
                {% csrf_token %}
                {% include 'components/Input.html' with id="username" name="username" label="Nombre" type="text" %}
                {% include 'components/Input.html' with id="password1" name="password1" label="Contraseña" type="password" %}
                {% include 'components/Input.html' with id="password2" name="password2" label="Confirme su contraseña" type="password" %}

                <p class="flex justify-center gap-4 items-center my-2">
                    <input  type="checkbox" name="terminos" id="terminos">
                    <span>Acepta los terminos y condiciones</span>
                </p>

                <button class="bg-verder_claro text-blanco font-bold py-2 px-4 rounded-lg w-full  my-2">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}