{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
    </style>
    {% tailwind_css %}
</head>

<body class="bg-blanco">
    {% block header %}
    {% include 'headerRegister.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

</html>